  <%# back button %>
<div>
  <%= link_to blogs_path, class:"text-decoration-none text-primary", style:"font-size: 16px" do%>
    <i class="fa-solid fa-chevron-left text-primary ms-4 me-3 mt-3"></i>Retour
  <% end %>
</div>
<h1 class="text-center my-4"><%=@blog.title%></h1>
<div class="d-flex justify-content-center align-items-center">
  <p class="mx-5 text-center" style="width: 80%"><%=@blog.intro%></p>
</div>
<p class="d-none"><%=@blog.meta_title%></p>
<img src="<%=@blog.introPhoto%>" alt="meta photo chat" class="img-fluid mx-auto d-block my-4" style="width: 80%; height: 60vh; object-fit: cover; border-radius: 20px;">
<div class="row w-75 d-flex justify-content-center align-items-center" style="margin: auto">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="mx-5"><%=@blog.text1%></p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="<%=@blog.photo1%>" alt="photo blog" class="img-fluid mx-auto d-block my-4" style="width: 50%; height: auto; border-radius: 20px;">
  </div>
</div>
<div class="row w-75 d-flex justify-content-center align-items-center" style="margin: auto">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="<%=@blog.photo2%>" alt="photo blog" class="img-fluid mx-auto d-block my-4" style="width: 50%; height: auto; border-radius: 20px;">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="mx-5"><%=@blog.text2%></p>
  </div>
</div>
<div class="row w-75 d-flex justify-content-center align-items-center" style="margin: auto">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="mx-5"><%=@blog.text3%></p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="<%=@blog.photo3%>" alt="photo blog" class="img-fluid mx-auto d-block my-4" style="width: 50%; height: auto; border-radius: 20px;">
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <p class="m-5 text-center" style="width: 80%"><%=@blog.conclusion%></p>
</div>
