<div>
  <i class="fa-solid fa-chevron-left text-primary m-4"></i><%= link_to 'Retour', :back, class:"text-decoration-none" %>
</div>
<div class="container mt-1">
  <div class="row justify-content-center mx-2" style="width: 100%;">
    <%# modify the profile %>
    <div class="col-sm-11 col-md-11 col-lg-5 card_pro p-4 m-2">
      <div class="mb-4 text-center">
        <i class="fa-solid fa-paw float-end text-primary"></i>
        <h2>Modifier les informations</h2>
      </div>
      <div class="text-center">
        <% if @user.photo.key?%>
          <%= image_tag "#{ENV['SUPABASE_URL']}/storage/v1/object/public/uploaded_photos/#{@user.photo.key}", width: 100, style: "border-radius: 50%; margin: 20px; aspect-ratio: 1;", class:"object-fit-cover" %>
        <% else %>
          <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//profil-default.webp", alt:"photo_profil_default", width: 100, style: "border-radius: 50%; margin: 20px; aspect-ratio: 1;", class:"object-fit-cover"%>
        <% end %>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="d-flex flex-row justify-content-between">
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom" %>
          </div>
          <%= f.input :email, label: "Email" %>
          <%= f.input :photo, as: :file, label: "Photo" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Actuellement en attente pour: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                        label: "Nouveau de mot de passe",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                        label: "Confirmation du nouveau mot de passe",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
        </div>
            <%= f.input :current_password,
                  as: :password,
                  label: "Mot de passe actuel",
                  input_html: { autocomplete: "current-password"}%>
        <div class="form-actions text-center mt-4">
          <%= f.button :submit, "Valider les changements",  class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
