<div class="m-2">
  <h4>Prochains rendez-vous disponibles</h4>
  <% count = 0 %>
    <% i = 0 %>
  <% while count < 8 do  %>
    <% date = (DateTime.current.to_date + i).strftime('%d-%m-%Y')%>
    <% professional_closed_day = professional.opening_hours.where(closed: true).pluck(:day_of_week)%>
    <% availabilities = Availability.where("DATE(start_time) = ? AND professional_id = ? AND status = ?", Date.parse(date), professional.id, true)%>
    <% if (!professional_closed_day.include?( Date.parse(date).wday)) && (!availabilities.empty? && availabilities.last.start_time > Time.now) %>
      <div class="nav-item dropdown" data-controller="appointment-selected", data-appointment-selected-api-key-value="<%=professional.id%>">
        <%# date button %>
        <a href="#" class="btn btn-outline-primary w-100 m-1" data-appointment-selected-target="selectedDate">
          <%# get all the appointments for this professional %>
          <%= date %>
          <% @appointments = Appointment.where(professional: professional, start_time: Time.parse(date))%>
          <% @appointment_times = [] %>
          <% @appointments.each do |appointment| %>
            <% @appointment_times << appointment.start_time.strftime("%H:%M") %>
          <% end%>
        </a>
        <%# show all availabilities for appointment %>
        <div  class="d-none d-flex justify-content-center mx-2"
            data-appointment-selected-target="times"
            style="display: flex; flex-wrap: wrap;">
          <% availabilities.each do |availability| %>
            <a href="<%=new_professional_appointment_path(professional)%>"
              class="btn btn-outline-primary m-1
                    <%= 'd-none' if (@appointment_times.include?(availability.start_time.to_time) && @appointments.count==professional.capacity) || (Date.parse(date) == Date.today && availability.start_time.to_time < Time.now.strftime('%H:%M')) %>"
              style="width: 22%;"
              data-time="<%= availability.start_time.to_time %>"
              data-action="click->appointment-selected#confirm">
              <%= availability.start_time.strftime("%H:%M") %>
            </a>
          <% end %>
        </div>
      </div>
      <% count += 1%>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>
