<div class="m-2">
  <div class="text-center">
    <h4>Prochains rendez-vous disponibles</h4>
  </div>

  <% i = 0 %>
  <% days_displayed = 0 %>
  <% max_days_to_check = 30 %>
  <% opened_days = [] %>

  <% while days_displayed < 7 && i < max_days_to_check %>
    <% date = Date.current + i %>
    <% if isOpened?(professional, date) %>
      <% opened_days << date %>
      <% days_displayed += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>

  <% if opened_days.any? %>
    <% opened_days.each do |date| %>
      <div class="nav-item dropdown" data-controller="appointment-selected" data-appointment-selected-api-key-value="<%= professional.id %>">
        <a href="#" class="btn btn-outline-primary w-100 m-1" data-appointment-selected-target="selectedDate">
          <%= date.strftime('%d-%m-%Y') %>
        </a>
        <div class="d-none d-flex justify-content-center mx-2"
             data-appointment-selected-target="times"
             style="display: flex; flex-wrap: wrap;">
          <% availabilitiesOfTheDay(professional, date).each do |a| %>
            <a href="<%= new_professional_appointment_path(professional) %>"
               class="btn btn-outline-primary m-1"
               style="width: 22%;"
               data-time="<%= a.to_time %>"
               data-action="click->appointment-selected#confirm">
              <%= a.strftime("%H:%M") %>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <p class="text-muted text-center m-0">
      Pas de rendez-vous disponibles dans les 30 prochains jours.
    </p>
  </div>
  <% end %>
</div>
