<%# back btn %>
<div>
  <%= link_to pro_show_user_path(current_user, @professional), class:"text-decoration-none text-primary", style:"font-size: 16px" do%>
    <i class="fa-solid fa-chevron-left text-primary ms-4 me-3 mt-3"></i>Retour
  <% end %>
</div>
<%# title %>
<div class=" text-center mb-4 d-flex flex-row justify-content-center position-relative">
  <h1>Modifier mes créneaux de disponibilités</h1>
  <i class="fa-solid fa-paw float-end text-primary"></i>
</div>
<div class="d-flex flex-row justify-content-center align-items-center mb-4">
  <p class="mx-4" style="font-size: 12px;">Légendes : </p>
  <div class="bg-info btn disabled border-0" style="font-size: 12px;"> Rdv de prévus </div>
  <div class="border border-1 border-primary px-2 py-1 text-primary mx-2" style="font-size: 12px;"> Créneaux disponibles </div>
  <div class="border border-1 border-dark px-2 py-1 text-dark" style="font-size: 12px;"> Créneaux bloqués </div>
</div>
<%# body %>
<div class="row d-flex justify-content-center">
  <div class="card_pro col-lg-5 col-md-5 col-sm-10 p-4">
    <!-- Opening and closing hours -->
    <%= simple_form_for @professional do |p|%>
      <h3 class="text-center" style="text-decoration: underline">Les horaires d'ouvertures</h3>
      <p class="mb-4 text-center"style="font-size: 10px">S'il y a une fermeture d'une demie-journée, veuillez laisser le champs des heures vides.</p>
      <table class="table table-bordered custom-white-table">
        <thead class="table-secondary">
          <tr>
            <th scope="col" class="text-center">Jour</th>
            <th scope="col" class="text-center">Heures du matin</th>
            <th scope="col" class="text-center">Heures de l'après-midi</th>
            <th scope="col" class="text-center">Fermé</th>
          </tr>
        </thead>
        <%# opening hours %>
        <%= p.fields_for :opening_hours, @professional.opening_hours.sort_by(&:day_of_week) do |h|%>
          <tbody class="nested-fields">
            <tr>
              <td>
                <%= h.hidden_field :day_of_week, value: h.object.day_of_week %>
                <%= h.label "day_#{h.object.day_of_week}", I18n.t('date.abbr_day_names', locale: :fr)[h.object.day_of_week] %>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <%= h.input :open_time_morning, label: false, placeholder: "Ouverture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.open_time_morning&.strftime('%H:%M') } %>
                  <%= h.input :close_time_morning, label: false, placeholder: "Fermeture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.close_time_morning&.strftime('%H:%M') } %>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <%= h.input :open_time_afternoon, label: false, placeholder: "Ouverture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.open_time_afternoon&.strftime('%H:%M') } %>
                  <%= h.input :close_time_afternoon, label: false, placeholder: "Fermeture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.close_time_afternoon&.strftime('%H:%M') } %>
                </div>
              </td>
              <td class="text-center align-middle">
                <%= h.check_box :closed %>
                <%= h.label :closed, "Fermé", class: "ms-2" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%# submit button %>
      <div class="text-center my-4">
        <%= p.button :submit, "Enregistrer", class: "cta-button", data: {controller: "alert", action: "click->alert#loading" } %>
      </div>
    <%end%>
  </div>
  <div class="card_pro col-lg-5 col-md-5 col-sm-10 p-4">
    <div id="available-pro"
          data-controller="edit-availabilities"
          data-edit-availabilities-api-key-value="<%= @professional.id %>" data-edit-availabilities-closed-days-value="<%=@closed_days.to_json%>"
          data-edit-availabilities-all-closed-days-value="<%=@specific_closed_dates.to_json%>">
      <h3 class="text-center my-3" style="text-decoration: underline">Modifier la disponibilité d'un créneau</h3>
      <!-- Sélection de la date (rendu cliquable) -->
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div>
          Date :
        </div>
        <div class="date-picker-container" style="width: 90%" data-action="click->edit-availabilities#openPicker">
          <input type="text" data-edit-availabilities-target="selectedDate" >
        </div>
      </div>
      <!-- Affichage des créneaux horaires -->
      <%= turbo_frame_tag :edit_slots, data: { appointment_selected_show_target: @selected_date } do %>
        <%= render partial: "edit_slots", locals: { professional: @professional, selected_date: @selected_date.to_date }%>
      <% end %>
    </div>
    <%# Liste des jours de fermetures %>
    <div class="mt-5" data-controller="calendar-closed-day">
      <h3 class="text-center my-3" style="text-decoration: underline">Liste des jours de fermetures</h3>
      <%= simple_form_for ClosingHour.new, data: { controller: "edit-availabilities"} do |c| %>
        <div class="d-flex flex-row align-items-center">
          <div>Date :</div>
          <div class="date-picker-container" style="width: 90%">
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
              <div class="w-100 mx-2">
                <%= c.input :start_time,
                      label: false,
                      as: :string,
                      input_html: {
                        data: {
                          controller: "calendar-closed-day",
                          action: "click->calendar-closed-day#openPicker",
                          calendar_closed_day_value: @specific_closed_dates.to_json
                        },
                        id: "closedDaySelectedDate"
                      },
                      wrapper_html: { style: "margin: 0px !important" } %>
                <%= c.hidden_field :whole_day, value: true %>
                <%= c.hidden_field :professional_id, value: @professional.id %>
              </div>
              <div class="d-flex align-items-center">
                <%= c.submit "Valider",
                class: "btn btn-primary rounded rounded-4",
                data: { action: "click->edit-availabilities#createClosedDay", data_edit_availabilities_api_key_value:@professional.id } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%# list of all national holidays and exceptional closed days %>
      <%=render "all_closed_days_list", specific_dates: @specific_dates, exceptionnal_closed_days: @exceptionnal_closed_days%>
    </div>
  </div>
</div>
