<div>
  <%= link_to pro_show_user_path(current_user, @professional), class:"text-decoration-none text-primary", style:"font-size: 16px" do%>
    <i class="fa-solid fa-chevron-left text-primary ms-4 me-3 mt-3"></i>Retour
  <% end %>
</div>
<%# title %>
<div class=" text-center mb-4 d-flex flex-row justify-content-center position-relative">
  <h1>Mon profil pro</h1>
  <i class="fa-solid fa-paw float-end text-primary"></i>
</div>
<%# form %>
<%= simple_form_for @professional, html: {multipart: true} do |p|%>
  <div class="row justify-content-center">
    <div class="card_pro col-lg-5 col-md-5 col-sm-10 text-center">
      <h5 class="my-4">Profession : <strong><%=@professional.specialty%></strong></h5>
      <%# name %>
      <div class="d-flex align-items-start justify-content-between" style="width: 100%;">
        <%= p.label :name, "Nom du professionnel :", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :name, label: false%>
        </div>
      </div>
      <%# phone %>
      <div class="d-flex align-items-start justify-content-between">
        <%= p.label :phone, "Numéro de téléphone", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :phone, label: false, class: "form-control" %>
        </div>
      </div>
      <%# email %>
      <div class="d-flex align-items-start justify-content-between">
        <%= p.label :email, "Adresse email :", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :email, label: false, class: "form-control" %>
        </div>
      </div>
      <%# address %>
      <div class="d-flex align-items-start justify-content-between">
        <%= p.label :address, "Adresse :", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :address,
                    label: false,
                    input_html: {value: @professional.address, data: {address_autocomplete_target: "address"}, class: "form-control"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                  %>
        </div>
      </div>
      <%# capacity %>
      <div class="d-flex align-items-start justify-content-between">
        <%= p.label :capacity, "Capacité d'accueil :", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :capacity, label: false %>
        </div>
      </div>
      <%# interval definition %>
      <% intervals = [[30, '30 (0.5 heure)']] %>
      <% 1.upto(8) do |i| %>
        <% minutes = intervals.last[0] + 30 %>
        <% hours = (minutes / 60.0).to_s + " heure#{'s' if minutes >= 60}" %>
        <% intervals << [minutes, "#{minutes} (#{hours})"] %>
      <% end %>
      <%# interval %>
      <div class="d-flex align-items-start justify-content-between">
        <%= p.label :interval, "Durée d'un créneau de rendez-vous estimée (en minutes):", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :interval, label: false, collection: intervals.map { |minutes, display| [display, minutes] } %>
        </div>
      </div>
      <%# description %>
      <div class="d-flex align-items-center justify-content-between">
        <%= p.label :description, "Description :", class: "me-2 mb-0 text-start" %>
        <div style="width: 70%;">
          <%= p.input :description, label: false, as: :text, input_html: { rows: 10 } %>
        </div>
      </div>
      <%# photo %>
      <div class="d-flex align-items-center justify-content-between">
        <%= p.label :photos, "Photos :", class: "me-2 mb-0 " %>
        <div style="width: 70%;">
          <% if @professional.photos_url.present? %>
            <!-- Afficher les photos dans le carousel -->
            <div class="mb-2">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% @professional.photos_url.each_with_index do |photo_url, index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
                      <%= image_tag photo_url, alt: "Photo", class: "img-thumbnail", style: "max-width: 100%; aspect-ratio: 2; object-fit: cover" %>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          <% end %>
          <!-- Champ pour ajouter ou changer les photos -->
          <%= p.input :photos, label: (@professional.photos_url.present? ? "Changer les photos :" : "Ajouter des photos :"),
           as: :file,
           input_html: { class: "form-control", multiple: true, name: "professional[photos][]" } %>
        </div>
      </div>
      <%# home viste%>
      <div class="text-start align-middle">
        <%= p.check_box :homeVisit %>
        <%= p.label :closed, "Déplcement à domicile", class: "ms-2" %>
      </div>
      <%# accept urgent visit%>
      <div class="text-start align-middle">
        <%= p.check_box :acceptUrgentVisit %>
        <%= p.label :closed, "Accepte les visites urgentes", class: "ms-2" %>
      </div>
    </div>
    <%# opeing hours %>
    <div class="card_pro col-lg-5 col-md-5 col-sm-10 p-4">
      <h5 class="text-center" style="text-decoration: underline">Les horaires d'ouvertures</h5>
      <p class="mb-4 text-center"style="font-size: 10px">S'il y a une fermeture d'une demie-journée, veuillez laisser le champs des heures vides.</p>
      <table class="table table-bordered custom-white-table">
        <thead class="table-secondary">
          <tr>
            <th scope="col" class="text-center">Jour</th>
            <th scope="col" class="text-center">Heures du matin</th>
            <th scope="col" class="text-center">Heures de l'après-midi</th>
            <th scope="col" class="text-center">Fermé</th>
          </tr>
        </thead>
        <%# opening hours %>
        <%= p.fields_for :opening_hours, @professional.opening_hours.sort_by(&:day_of_week) do |h|%>
          <tbody class="nested-fields">
            <tr>
              <td>
                <%= h.hidden_field :day_of_week, value: h.object.day_of_week %>
                <%= h.label "day_#{h.object.day_of_week}", I18n.t('date.abbr_day_names', locale: :fr)[h.object.day_of_week] %>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <%= h.input :open_time_morning, label: false, placeholder: "Ouverture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.open_time_morning&.strftime('%H:%M') } %>
                  <%= h.input :close_time_morning, label: false, placeholder: "Fermeture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.close_time_morning&.strftime('%H:%M') } %>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <%= h.input :open_time_afternoon, label: false, placeholder: "Ouverture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.open_time_afternoon&.strftime('%H:%M') } %>
                  <%= h.input :close_time_afternoon, label: false, placeholder: "Fermeture", as: :string, input_html: { class: "form-control", data: { controller: "timepicker" }, value: h.object.close_time_afternoon&.strftime('%H:%M') } %>
                </div>
              </td>
              <td class="text-center align-middle">
                <%= h.check_box :closed %>
                <%= h.label :closed, "Fermé", class: "ms-2" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%# submit button %>
  <div class="text-center my-4">
    <%= p.button :submit, "Enregistrer", class: "btn_custom", data: {controller: "alert", action: "click->alert#loading" } %>
  </div>
<% end %>
