<div class="container-all">
  <div class="banner">
    <div class="container text-end">
      <h1>Adopter avec amour,</h1>
      <h1>accompagner avec soin.</h1>
      <%= link_to professionals_path, class: "btn btn-primary btn-spa text-white p-3 mt-4 text-end shadow", style:"border-radius: 32px;" do%>
      <span class="icon-custom"></span> Je veux adopter !
      <%end%>
    </div>
  </div>

  <%= simple_form_for :search, url: professionals_path, method: :get do |f| %>
    <div class="d-flex justify-content-center search-form-control form-group mb-3", style="width: 100%;" >
      <div class="d-flex align-items-center search-form-control form-group w-form">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar bg-secondary ps-5 inner-shadow",
              placeholder: "Rechercher un professionnel..."
          %>
        <div>
          <%= submit_tag "Rechercher", class: "btn btn-primary text-white search-bar p-3" %>
        </div>
      </div>
    </div>
  <% end %>

  <h3 class="mt-5">Nos professionnels</h3>
  <div class="d-flex justify-content-start custom-scroll mt-2", style="white-space: nowrap; overflow-x: auto;">
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1734016805/vitaly-gariev-HURf5iUtSQg-unsplash_haxcr5.jpg);">
      <div class="d-inline text-center">
        <%= link_to "Tous nos professionnels", professionals_path, style: "text-decoration:none; color:white;" %>
      </div>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824916/judy-beth-morris-5Bi6MWlWMbw-unsplash_funbpk.jpg)">
      <%= link_to "V茅t茅rinaires", professionals_path(specialty: "V茅t茅rinaire"), style: "text-decoration:none; color:white;" %>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824916/reba-spike-PEQIIwnIGdo-unsplash_yfvjlt.jpg)">
      <%= link_to "Toiletteurs", professionals_path(specialty: "Toiletteur"), style: "text-decoration:none; color:white;" %>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824916/matt-nelson-aI3EBLvcyu4-unsplash_drfsex.jpg)">
      <%= link_to "Promeneurs", professionals_path(specialty: "Promeneur"), style: "text-decoration:none; color:white;" %>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg)">
      <div class="d-inline text-center">
        <%= link_to "Comportementalistes", professionals_path(specialty: "Comportementaliste"), style: "text-decoration:none; color:white; cursor: default;", onclick: "return false;" %>
        <p>Bient么t disponible</p>
      </div>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg)">
      <div class="d-inline text-center">
        <%= link_to "Educateurs", professionals_path(specialty: "Educateur"), style: "text-decoration:none; color:white; cursor: default;", onclick: "return false;" %>
        <p>Bient么t disponible</p>
      </div>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg)">
      <div class="d-inline text-center">
        <%= link_to "Pensions", professionals_path(specialty: "Pension"), style: "text-decoration:none; color:white; cursor: default;", onclick: "return false;" %>
        <p>Bient么t disponible</p>
      </div>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg)">
      <div class="d-inline text-center">
        <%= link_to "Nutritionnistes", professionals_path(specialty: "Nutritionniste"), style: "text-decoration:none; color:white; cursor: default;", onclick: "return false;" %>
        <p>Bient么t disponible</p>
      </div>
    </div>
    <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg)">
      <div class="d-inline text-center">
        <%= link_to "Petsitters", professionals_path(specialty: "Petsitter"), style: "text-decoration:none; color:white; cursor: default;", onclick: "return false;" %>
        <p>Bient么t disponible</p>
      </div>
    </div>
  </div>
  <h3 class="mt-5 mb-4">Vos futurs rendez-vous</h3>
  <% if user_signed_in? %>
    <% if @appointments.exists? %>
      <% @appointments.each do |appointment| %>
        <a href="<%=professional_appointment_path(appointment.professional, appointment)%>" style="color: black; text-decoration: none;">
          <div class="d-flex justify-content-center">
            <div class="card mt-4 mb-5 shadow" style="width: 50%;">
              <div class="card-header bg-primary rounded">
                <div class="d-flex justify-content-around fw-bold">
                  <div class="d-flex align-items-center">
                    <i class="fa-regular fa-calendar-days"></i>
                    <p class="ms-3"><%= appointment.date.strftime("%d/%m/%Y") %></p>
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="fa-regular fa-clock ms-5"></i>
                    <p class="ms-3"><%= appointment.start_time.strftime("%H:%M") %></p>
                  </div>
                </div>
              </div>
              <div class="card-body d-flex align-items-center ms-5">
                <%= image_tag url_for(appointment.professional.photo), alt:"Photo du professionnel", class:"small-rounded-circle"%>
                <div class="d-flex flex-column ms-4">
                  <p>
                    Rendez-vous avec : <%= appointment.professional.name%>
                  </p>
                  <p>
                    Lieux : <%= appointment.professional.address%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center", style="width: 50%;">
          <p>Vous n'avez pas de rendez-vous  venir.</p>
          <img src="https://res.cloudinary.com/dsbteudoz/image/upload/v1733845850/owner-playing-with-pet-dog_vfnehl.png">
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center", style="width: 50%;">
        <p class="text-center">Veuillez vous connecter pour voir vos rendez-vous.</p>
        <%= link_to "Se connecter", new_user_session_path, class: "text-center btn btn-primary text-white"%>
        <img src="https://res.cloudinary.com/dsbteudoz/image/upload/v1734099737/business-solution-removebg-preview_c0hr67.png">
      </div>
    </div>
  <% end %>
</div>
