<div class="d-flex flex-row justify-content-center">
  <div>
    <% @professionals.each do |professional|%>
      <div class="d-flex flex-row justify-content-center">
        <div class="card_pro d-flex flex-row" style="width: 900px">

          <a href="<%=professional_path(professional)%>" class="text-decoration-none text-black" style="width: 400px">
            <%= cl_image_tag professional.photo.key, crop: :fill, width: 380%>
            <h2><%= professional.name %> </h2>
            <p>Specialité : <%= professional.specialty %></p>
            <p>Adresse : <%= professional.address %></p>
            <p><%= professional.description %></p>
          </a>
          <%= render "shared/available_slots", professional: professional%>
        </div>
      </div>
    <%end%>
  </div>
  <div  style="width: 40%; height: 600px; border-radius: 8px; position: sticky; top: 100px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
