<div class="d-flex flex-row justify-content-between" style="height: 85vh;" data-controller="appointment">
  <%@selected_date%>
  <% if params[:date].nil?%>
    <%@selected_date = Date.current.strftime("%Y-%m-%d")%>
  <% else %>
    <%@selected_date = params[:date]%>
  <% end %>
  <%# sidebar all my service %>
  <div>
    <%= render "all_service", selected_professional: @professional %>
  </div>
  <div class="d-flex flex-row">
  </div>
  <%# calendar %>
  <div class="text-center" style="width: 100%;">
    <%# title + button edit %>
    <div class="position-relative py-4">
      <h4> <strong> Bienvenue sur le planning de <%=@professional.name%> </strong></h4>
      <%# edit profil pro button %>
      <div class="text-end position-absolute top-0 end-0 me-4 mt-4">
          <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Paramètres
          </a>
      </div>
      <%= render "setting_sideBar", professional: @professional%>
    </div>
    <div class="custom-scroll" style="height: calc(85vh - 100px); overflow-y: auto">
      <%# calendar %>
      <% if @date %>
        <%= render "calendar", start_date: @date.beginning_of_week%>
      <%else%>
        <%= render "calendar", start_date: Date.today.beginning_of_week%>
      <%end%>
      <%# slots %>
      <div>
        <div class="d-flex flex-row justify-content-between">
          <p class="text-start mx-4">Les horaires du rendez-vous : </p>

        </div>
        <%= turbo_frame_tag :all_slot do %>
          <%= render "all_slots", professional: @professional, selected_date: @selected_date %>
        <% end %>
      </div>
      <%# appointment details %>
      <div class="mx-4 mb-4">
        <p class="text-start my-4">Les détails du rendez-vous : </p>
        <% if !params[:appointments].nil? %>
          <%= turbo_frame_tag :appointment_details do %>
            <% @appointments = params[:appointments]%>
            <% if !@appointments.empty? %>
              <% @appointments.each do |appointment|%>
                <div>
                  <%= render "appointment_details", appointment: appointment, professional: @professional%>
                </div>
              <% end%>
            <%end%>
          <% end %>
        <% else %>
          <p class="my-5">Veuillez sélectionner un créneau de rendez-vous pour afficher le détail. </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
