<div class="text-center m-4">
  <h1><%= @professional.name %></h1>
</div>
<div class="grid-professional-show">

  <div class="m-4">
    <%= cl_image_tag @professional.photo.key, width: 400, crop: :fill%>
    <div class="card_pro">
      <h4>Contact : </h4>
      <p>Adresse : <%=@professional.address%></p>
      <p>Numéro de téléphone : <%=@professional.phone%></p>
    </div>
    <div class="card_pro">
      <h4>Description : </h4>
      <p><%=@professional.description%></p>
    </div>
  </div>

  <div class="m-4">
    <h4>Prochains rendez-vous disponibles</h4>
    <li class="nav-item dropdown d-flex align-items-end flex-column">
            <a href="#" class="btn btn-outline-primary" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= DateTime.current.to_date %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mes rendez-vous", "#", class: "dropdown-item" %>
              <%= link_to "Mon profil", "#", class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

  </div>

</div>
