
<div>
  <i class="fa-solid fa-chevron-left text-primary m-4"></i><%= link_to 'Back', :back, class:"m-3 text-decoration-none" %>
</div>
<div class="container">
  <h1 class="text-center my-4">Animaux disponibles pour adoption</h1>
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= image_tag pet.photo.url, class: "card-img-top" if pet.photo.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <p class="card-text">Âge: <%= pet.age %></p>
            <p class="card-text">Sexe: <%= pet.sex %></p>
            <p class="card-text">Espèce: <%= pet.species %></p>
            <p class="card-text"><%= truncate(pet.description, length: 100) %></p>
            <%= link_to 'Voir plus', pet_path(pet), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
