<div>
  <%= render "shared/back"%>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-sm-10 card_pro" style="height: 400px">
      <%= image_tag @pet.photo, class: "card-img-top w-100 h-100 object-fit-cover" if @pet.photo.present? %>
    </div>
    <div class="col-lg-5 col-sm-10 card_pro d-flex flex-column justify-content-between">
      <div>
        <h3 class="text-center m-3"><%= @pet.name %></h3>
        <p class="my-2">Âge: <%= @pet.age %></p>
        <p>Sexe: <%= @pet.sex %></p>
        <p class="my-2">Race: <%= @pet.species %></p>
      </div>
      <div>
        <p style="font-size: 36px"> <i class="fa-solid fa-paw float-end text-primary"></i></p>
      </div>
    </div>
  </div>
</div>
