<%# back button %>
<div class="d-flex flex-row align-items-center">
  <%= link_to user_path(current_user), class:"text-decoration-none text-primary", style:"font-size: 16px" do%>
    <i class="fa-solid fa-chevron-left text-primary ms-4 me-3 mt-3"></i>Retour à mon profil
  <% end %>
</div>
<%# body %>
<div class="text-end">
  <a href="<%=new_user_pet_path(current_user)%>" class="btn btn-primary text-white me-5 shadow-sm" >
    Ajouter un autre animal
  </a>
</div>
<div class="container">
  <%# General information %>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-sm-10 card_pro" style="height: 400px;">
      <%= image_tag @pet.photo, class: "card-img-top w-100 h-100 object-fit-cover rounded" if @pet.photo.present? %>
    </div>
    <div class="col-lg-5 col-sm-10 card_pro d-flex flex-column justify-content-between">
      <div>
        <h3 class="text-center m-3"><%= @pet.name %></h3>
        <p class="my-2">Âge:
          <% if @pet.birthday.present? %>
            <% age_in_years = (Date.today - @pet.birthday).to_i / 365.25 %>
            <% if age_in_years >= 0 %>
              <%= age_in_years.round %> ans
            <% else %>
              <% age_in_months = (Date.today.month - @pet.birthday.month) + (Date.today.year - @pet.birthday.year) * 12 %>
              <%= age_in_months.abs %> mois
            <% end %>
          <% else %>
            0
          <% end %>
        </p>
        <p>Sexe: <%= @pet.sex %></p>
        <p class="my-2">Race: <%= @pet.species %></p>
        <p class="my-2">Identification: <%= @pet.identification %></p>
        <p class="my-2">Antécédents médicaux: <%= @pet.medical_background %></p>
      </div>
      <div>
        <div class="text-center">
          <a href="<%=edit_user_pet_path(current_user, @pet)%>" class="btn btn-primary text-white shadow-sm" >
            Modifier les informations
          </a>
        </div>
        <div>
          <p style="font-size: 36px"> <i class="fa-solid fa-paw float-end text-primary"></i></p>
        </div>
      </div>
    </div>
  </div>
  <%# appointments %>
  <div class="row card_pro text-center position-relative">
    <h3 class="text-center m-3">Les rendez-vous</h3>
    <% if @appointments.empty? %>
      <div class="text-center">
        <p >Vous n'avez pas de rendez-vous</p>
      </div>
    <% else %>
      <% @appointments.each do |a| %>
        <div class="col-lg-4 col-md-12 col-12">
          <a href="<%=professional_appointment_path(a.professional, a)%>" style="text-decoration: none; color: black;">
            <div class="card_pro p-4 m-1 text-start" style="background-color: #f7e6d4;">
              <div class="text-end">
                <div >
                  <p><%= a.date.strftime("%d/%m/%Y")%></p>
                  <p><%= a.start_time.strftime("%H:%M")%></p>
                </div>
              </div>
              <p>Professionnel : <strong><%= a.professional.name %></strong></p>
              <p style="word-wrap: break-word; word-break: break-word;">Motif de la visite : <%= truncate(a.reason, length: 100, omission: '...') %></p>
            </div>
          </a>
        </div>
      <% end %>
    <% end%>
    <div class="m-3 position-absolute top-0 end-0">
      <%= link_to raw("<i class='fa-solid fa-plus float-end text-primary shadow myCircleIcon p-3 hoveredCircleButton'></i>"),
                          professionals_path,
                          class: "hoveredCircleButton",
                          style: "font-size: 36px;"
                           %>
    </div>
  </div>
  <%# les vaccins %>
  <div class="card_pro d-flex flex-column justify-content-between p-4 position-relative" data-controller="alert" >
    <div>
      <h3 class="text-center m-3">Les vaccins</h3>
      <%i=0%>
      <% if @vaccinations.empty? %>
        <p class="mt-3 text-center">Vous n'avez pas encore saisi les informations de vaccins.</p>
      <% else %>
        <div class="d-flex flex-wrap" id="vaccins-container" >
          <% @vaccinations.each do |vaccin| %>
            <% i = i+1 %>
            <div class="card_pro m-1 text-start d-flex flex-row vaccination-item" style="background-color: #f7e6d4;">
              <p><%=i%>.</p>
              <div class="mx-2">
                <p class="vaccin-name">Nom de vaccin : <strong><%=vaccin.name%></strong></p>
                <p class="vaccin-administration-date">Date d'administration : <%=vaccin.administration_date%></p>
                <div class="d-flex flex-row">
                  <p>Prochaine date d'injection : </p>
                  <p class="mx-2 <%= vaccin.next_booster_date > Date.today ? 'text-success' : 'text-danger' %> vaccin-next-booster-date"><%=vaccin.next_booster_date%></p>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-around">
                <%= link_to raw("<i class='fa-solid fa-edit float-end text-primary bg-light shadow myCircleIcon p-3 hoveredCircleButton'></i>"),
                            "#",
                            style: "font-size: 12px;",
                            data: { controller: "alert",
                                    action: "click->alert#editVaccination",
                                    pet_id: @pet.id,
                                    vaccin_id: vaccin.id,
                                    vaccin_name: vaccin.name,
                                    administrationDate:  vaccin.administration_date,
                                    nextBoosterDate: vaccin.next_booster_date} %>
                <%= link_to raw("<i class='fa-solid fa-trash float-end text-danger bg-light shadow myCircleIcon p-3 hoveredCircleButton'></i>"),
                            "#",
                            class: "hoveredCircleButton my-2",
                            style: "font-size: 12px;",
                            data: { controller: "alert", action: "click->alert#deleteVaccination", pet_id: @pet.id, vaccin_id: vaccin.id } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="text-end m-3 position-absolute top-0 end-0" data-controller="alert">
      <%= link_to raw("<i class='fa-solid fa-syringe float-end text-primary shadow myCircleIcon p-3 hoveredCircleButton'></i>"),
                          "#",
                          class: "hoveredCircleButton",
                          style: "font-size: 36px;",
                          data: { controller: "alert", action: "click->alert#addVaccination", pet_id: @pet.id } %>
    </div>
  </div>
  <%# Weight  %>
  <div class="card_pro d-flex flex-column justify-content-between position-relative">
    <div data-controller="chart alert">
      <h3 class="text-center m-3">Le suivi de poids</h3>
      <% if @weight_histories.empty?%>
        <p class="text-center">Vous n'avez pas encore commencé le suivi de poids de <%=@pet.name%></p>
      <% else %>
        <div data-controller="chart" class="p-4">
          <canvas id="myLine" data-chart-target="chart"
                              data-label="<%= @weight_histories_labels.to_json %>"
                              data-values="<%= @weight_histories_data.to_json %>"
                              data-ids="<%= @weight_histories_ids.to_json %>"
                              data-petId="<%= @pet.id %>">
          </canvas>
        </div>
      <% end %>
    </div>
    <div class="text-end m-3 position-absolute top-0 end-0" data-controller="alert">
      <%= link_to raw("<i class='fa-solid fa-weight-scale float-end text-primary shadow myCircleIcon p-3 hoveredCircleButton'></i>"),
                          "#",
                          class: "hoveredCircleButton",
                          style: "font-size: 36px;",
                          data: { controller: "alert", action: "click->alert#addWeight", pet_id: @pet.id } %>
    </div>
  </div>
</div>
