<%= turbo_frame_tag :appointment_details do %>
  <h5 class="text-start m-4"> <strong>Détail du rendez-vous : </strong> </h5>
  <% @appointment = Appointment.find(appointment) %>
  <div class="card_pro d-flex flex-row justify-content-between">
    <div>
      <div class="d-flex flex-row">
        <p>Nom : </p>
        <h5 class="mx-2"> <strong><%= @appointment.user.first_name%> <%= @appointment.user.last_name%></strong></h5>
      </div>
      <div class="d-flex flex-row">
        <p>Date : </p>
        <h5 class="mx-2"> <strong><%= @appointment.start_time.strftime("%d-%m-%Y")%> à <%= @appointment.start_time.strftime("%H:%M")%></strong></h5>
      </div>
      <div class="d-flex flex-row my-1 mt-4">
        <p>Animal concerné : </p>
        <p class="mx-2"> <%= Pet.find(@appointment.pet_id).name%> </p>
      </div>
      <div class="d-flex flex-row my-1">
        <p>Type : </p>
        <p class="mx-2"> <%= Pet.find(@appointment.pet_id).species%> </p>
      </div>
      <div class="d-flex flex-row my-1">
        <p>Motif du rendez-vous : </p>
        <p class="mx-2"> <%= @appointment.reason%> </p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-start align-items-center">
      <% if Pet.find(@appointment.pet_id).photo.present? %>
        <%= cl_image_tag Pet.find(@appointment.pet_id).photo.key,  style:"width: 100px; aspect-ratio:1; border-radius: 20px; object-fit: cover;" %>
      <% else %>
        <img  src="https://res.cloudinary.com/dsbteudoz/image/upload/v1736071797/production/l36dmns98zvw0qbpvjtduy102ebz.jpg"
              alt="photo_pet_default"
              style="width: 100px; aspect-ratio:1; border-radius: 20px; object-fit: cover;">
      <% end %>
      <% if @professional.specialty=="Vétérinaire"%>
        <a href="<%=user_pet_path(@appointment.user_id, @appointment.pet_id)%>" target="_blank">Voir le carnet de santé</a>
      <%end%>
    </div>
  </div>
<% end %>
