<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand mx-4" do %>
      <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//Boop%20-%20LOGO%20FINAL%20RVB.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item active">
          <h5>
            <%= link_to "Accueil", root_path, class: "nav-link"%>
          </h5>
        </li>
        <li class="nav-item active">
          <h5>
            <%= link_to "Prendre un rendez-vous", professionals_path, class: "nav-link mx-3"%>
          </h5>
        </li>
        <li class="nav-item active">
          <h5>
            <%= link_to "Proposer un service", pricings_path, class: "nav-link" %>
          </h5>
        </li>
        <li class="nav-item active">
          <h5>
            <%= link_to "Adopter", animals_path, class: "nav-link mx-3" %>
          </h5>
        </li>
        <li class="nav-item active">
          <h5>
            <%= link_to "Pet Alert", pet_alerts_path, class: "nav-link" %>
          </h5>
        </li>
        <li class="nav-item active">
          <h5>
            <%= link_to "Blogs", blogs_path, class: "nav-link mx-3" %>
          </h5>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown d-flex align-items-end flex-column">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.key?%>
                <%= image_tag "#{ENV['SUPABASE_URL']}/storage/v1/object/public/uploaded_photos/#{current_user.photo.key}", class: "avatar", alt: "dropdown menu", style: "object-fit: cover"%>
              <% else %>
                <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images/profil-default.jpg", class: "avatar", alt: "dropdown menu", style: "object-fit: cover"%>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" style="width: fit-content;" aria-labelledby="navbarDropdown">
              <% if !current_user.orders.empty? %>
                <%= link_to "Mon organisme", pro_index_user_path(current_user), class: "dropdown-item" %>
              <%end%>
              <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary rounded rounded-4 text-dark" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
