<div class="container-all">
  <div class="banner">
    <div class="row">
      <div class="container text-end col">
        <h1>Adopter avec amour,</h1>
        <h1>Accompagner avec soin.</h1>
        <%= link_to animals_path, class: "hoveredbutton btn btn-primary btn-spa text-white p-3 mt-4 text-end shadow", style:"border-radius: 32px;" do%>
          <span class="icon-custom">🐾</span> Je veux adopter !
        <%end%>
      </div>
      <div class="col">
        <div class="d-flex flex-row">
          <div class="card_banner" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXOgdBLNYmiz98W3mohcIny2sOyvKC_Pgfkw&s); background-size: cover;">
          </div>
          <div class="card_banner m-4" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXOgdBLNYmiz98W3mohcIny2sOyvKC_Pgfkw&s); background-size: cover;">
          </div>
          <div class="card_banner" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXOgdBLNYmiz98W3mohcIny2sOyvKC_Pgfkw&s); background-size: cover;">
          </div>

        </div>
      </div>
    </div>
  </div>
  <%= simple_form_for :search, url: professionals_path, method: :get do |f| %>
    <div class="d-flex justify-content-center search-form-control form-group mb-3", style="width: 100%;" >
      <div class="d-flex align-items-center search-form-control form-group w-form">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar bg-secondary ps-5",
              placeholder: "Rechercher un service..."
          %>
        <div>
          <%= submit_tag "Rechercher", class: "btn_custom search-bar" %>
        </div>
      </div>
    </div>
  <% end %>
  <%# Service categories %>
  <h3 class="mt-5">Nos services</h3>
  <div class="d-flex justify-content-start custom-scroll mt-2", style="white-space: nowrap; overflow-x: auto;">
    <a href="<%=professionals_path%>"  style="text-decoration:none; color: white;">
      <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%="#{ENV['SUPABASE_URL']}"%>/storage/v1/object/public/general_images/vitaly-gariev-HURf5iUtSQg-unsplash.jpg);">
        <h4>Tous nos services</h4>
      </div>
    </a>
    <% (0...@all_specialty.length).each do |i| %>
      <% specialty = @all_specialty[i][:specialty]%>
      <% photo = @all_specialty[i][:photo]%>
      <% if @available_specialty.include?(specialty)%>
        <a href="<%=professionals_path(specialty: specialty)%>" style="text-decoration:none; color: white;">
          <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=photo%>);">
            <h4><%=specialty%></h4>
          </div>
        </a>
      <% else %>
        <a href="#" style="text-decoration:none; color: white; pointer-events: none;">
          <div class="card-category p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=photo%>);">
            <div class="d-inline text-center" >
              <h4><%=specialty%></h4>
              <p>Bientôt disponible</p>
            </div>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>
  <%# Add a service %>
  <h3 class="mt-5 text-center">Vous aussi, vous souhaitez proposer un service ?</h3>
  <div class="row d-flex justify-content-center align-items-center mt-4">
    <div class="col-12 col-lg-5 text-center pe-5">
      <%= image_tag("#{ENV['SUPABASE_URL']}/storage/v1/object/public/general_images/guy-walking-with-dog-in-the-park.png",alt:"Proposer un service" )%>
    </div>
    <div class="col-12 col-lg-5" style="word-wrap: break-word; word-break: break-word; white-space: normal; text-align: justify;">
      <h5>Vous adorez les animaux et vous avez des compétences à partager ?</h5>
      <br>
      <h5>Que vous soyez vétérinaire, comportementaliste, nutritionniste ou pet-sitter, Boop est fait pour vous ! </h5>
      <br>
      <h5>Rejoignez notre communauté et proposez vos services à des propriétaires d'animaux qui cherchent des solutions fiables et de confiance.</h5>
      <h5>C’est simple, rapide, et vous pouvez faire une vraie différence dans la vie des animaux tout en développant votre activité. Inscrivez-vous maintenant et commencez à aider nos compagnons à quatre pattes !
      </h5>
      <div class="text-center mt-4 ">
        <%= link_to "Proposer un service", pricings_path,
              class: "hoveredbutton btn_custom"%>
      </div>
    </div>
  </div>
  <%# animals autoscroll %>
  <div class="d-flex flex-row custom-scroll bg-primary" style="overflow-x: scroll; white-space: nowrap; margin: 0px !important;" data-controller="autoscroll" data-autoscroll-target="autoscrollContainer">
    <h3 class="mt-5">Ils attendent un foyer...</h3>
    <% @animals.each do |animal| %>
      <a  href="<%=animal_path(animal)%>"
          style="text-decoration: none; color: black; margin: 20px">
        <div class="col">
          <div  class="card_pro p-0 d-flex flex-column"
                style="width: 300px; aspect-ratio: 1/1; overflow: hidden; margin: 0px !important;"
                data-animal-index-target="animal"
                data-action="mouseover->animal-index#hover mouseout->animal-index#unhover">
            <!-- En-tête -->
            <div class="p-3 text-center" style="border-radius: 8px 8px 0 0; background-color: #55868C;">
              <%=animal.name %>
            </div>
            <!-- Image qui prend le reste de la place -->
            <div class="flex-grow-1" style="overflow: hidden;">
              <%= image_tag animal.photo, style: "width: 100%; height: 100%; object-fit: cover;" %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <%# pet alert %>
  <div class="row d-flex justify-content-center align-items-center m-2">
    <div class="card_pro p-4 col-lg-10 col-md-10 col-sm-10">
      <div class="text-center">
        <h3>Pet Alert !</h3>
      </div>
      <div class="row d-flex align-items-center justify-content-around" >
        <%# alert image %>
        <div class="d-flex flex-column justify-content-center align-items-center col-lg-3 col-md-3 col-sm-7 p-3">
          <%= image_tag("https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//pet_alert.jpg", alt:"alert", class:"alert_image m-4")%>
          <a href="<%=new_pet_alert_path%>" class="btn_custom"> Publier une annonce </a>
        </div>
        <%# carousel %>
        <div class="col-lg-7 col-md-7 col-sm-10">
          <% if @pet_alerts.empty?%>
            <div class="bg-secondary p-4" style="border-radius: 12px; height: 300px; object-fit: contain;">
              <p>Pas d'annonces en cours 🤗 </p>
            </div>
          <% else %>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @pet_alerts.each_with_index do |a, index| %>
                  <a href="<%=pet_alerts_path%>" style="text-decoration: none; color: white;">
                    <div class="carousel-item <%= 'active' if index == 0 %>" data-bs-interval="5000">
                      <div class="carousel-image-container">
                        <% if a.photo.present?%>
                          <%= image_tag(a.photo_url, alt: "photo of pet alert", class: "d-block w-100", style: "border-radius: 12px; height: 300px; object-fit: cover;") %>
                        <% else %>
                          <div class="bg-secondary p-4" style="border-radius: 12px; height: 300px; object-fit: contain;">
                            <%= image_tag("https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images/question%20(3).png", alt:"pet alert default", class: "d-block w-100", style: "border-radius: 12px; height: 300px; object-fit: contain;")%>
                          </div>
                        <% end %>
                        <div class="carousel-caption d-none d-md-block card text-light" style="border-radius: 20px;background: rgba(73, 54, 87, 0.55);">
                          <div class="d-flex flex-row justify-content-center align-items-center">
                            <h5><strong><%=a.title%></strong></h5>
                            <% if a.status == false %>
                              <i class="fa-solid fa-circle-exclamation mx-4 " style="font-size: 32px; color: #FF0035;"></i>
                            <% else %>
                              <i class="fa-solid fa-circle-check text-success mx-4 " style="font-size: 32px"></i>
                            <% end %>
                          </div>
                          <p class="m-2"><%=a.description.slice(0, 100)%>...</p>
                          <a href="<%=pet_alert_path(a)%>" class="btn btn-info rounded rounded-4">En savoir plus</a>
                        </div>
                        <div class="carousel-caption-overlay"></div>
                      </div>
                    </div>
                  </a>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-end">
        <h5>
          <a href="<%=pet_alerts_path%>" class="text-dark" style="text-decoration: underline">Voir toutes les annonces <i class="fa-solid fa-arrow-right"></i></a>
        </h5>
      </div>
    </div>
  </div>
</div>
