<div>
  <%= render "banner" %>
  <%= render "benefices_section"%>
  <div class="one_block_column">
    <div class="text-center mt-5">
      <h2>On vous emmène faire un tour ? </h2>
      <p>Boop, c’est bien plus qu’un simple agenda animalier. C’est une plateforme pensée pour centraliser la santé, les rendez-vous et la vie de vos animaux. </Br>Que vous soyez professionnel, passionné ou juste gaga de votre boule de poils, Boop vous simplifie tout. Et franchement… c’est un peu ouf.</p>
    </div>
    <div>
      <video class="card_pro mx-2 video" controls poster="https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//intro_boop_thumnail_800.webp" alt="comment fonctionne boop?">
        <source src="https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//intro_boop.webm" type="video/webm">
        Votre navigateur ne supporte pas la vidéo.
      </video>
    </div>
  </div>

  <% if user_signed_in? %>

      <a href="<%= pricings_path %>" class="cta-button" aria-label="Comment coute Boop">Je veux proposer un service</a>

  <% else %>
      <a href="<%= new_user_registration_path %>" class="cta-button" aria-label="Créer un compte">Créer un compte maintenant</a>
  <% end %>
  <%= render 'faq'%>

</div>
