<div class="container-all">
  <%= render "banner" %>
    <%= simple_form_for :search, url: professionals_path, method: :get do |f| %>
    <div class="search-form-control form-group mb-3">
      <div class="search-inputs-container w-form">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar bg-white ps-5",
              placeholder: "Rechercher un service..."
          %>
        <%= text_field_tag :query_address,
              params[:query_address],
              class: "form-control search-bar bg-white ps-5",
              placeholder: "Ville..."
          %>
        <%= submit_tag "Rechercher", class: "btn_custom search-bar ms-4" %>
      </div>
    </div>
  <% end %>

  <%= render "service_categories" %>
  <%= render "description_home" %>
  <%= render "adoption_section" %>
  <div class="d-flex justify-content-center">
  <%= render "pet_alert" %>
  </div>
</div>
