<%= render "banner" %>

<div class="container">

  <%# search bar %>
  <h4 class="text-center my-4">Trouvez votre compagnon proche de chez vous</h4>
  <div id="search-section">
    <%= simple_form_for :search, url: animals_path, method: :get do |f| %>
      <div class="search-form-control form-group mb-3">
        <div class="search-inputs-container w-form">
          <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar bg-white ps-5",
              placeholder: "Rechercher par ville..."
          %>
          <%= submit_tag "Rechercher", class: "cta-button search-bar ms-4" %>
        </div>
      </div>
    <% end %>
  </div>

  <%# all animals %>
  <div class="d-flex flex-wrap justify-content-center" data-controller="animal-index">
    <% @animals.each do |animal| %>
      <%= link_to animal_path(animal), class: "pet_card", data: { animal_index_target: "animal", action: "mouseover->animal-index#hover mouseout->animal-index#unhover" } do %>
        <div class="pet_image">
          <%= image_tag animal.photo, alt: "animaux à adopter"%>
        </div>
        <h3 class="pet_name"><%= animal.name %></h3>
      <% end %>
    <% end %>
  </div>
</div>
