<%# Back button %>
<div class="mb-4">
  <%= link_to animals_path, class: "text-decoration-none text-dark ms-4" do %>
    <i class="fas fa-arrow-left me-2"></i>Retour
  <% end %>
</div>

<div class="pet-profile-container">
  <div class="speech-bubble">
    <p class="text-white">Salut, je suis <%= @animal.name %>!</p>
  </div>

  <div class="profile-content">
    <div class="pet-image">
      <%= image_tag @animal.photo if @animal.photo.present? %>
    </div>

    <div class="pet-details">


<div class="row">
<div class="detail-item col">
        <h3>TYPE</h3>
        <p><%= @animal.species %></p>
      </div>

      <div class="detail-item col">
        <h3>ÂGE</h3>
        <p><%= @animal.age %></p>
      </div>

      <div class="detail-item col">
        <h3>SEXE</h3>
        <p><%= @animal.sex&.capitalize %></p>
      </div>
</div>


      <div class="detail-item">
        <h3>DESCRIPTION</h3>
        <p><%=@animal.description%></p>
      </div>

      <div class="detail-item">
        <h3>REFUGE</h3>
        <p><%=@animal.shelter%></p>
      </div>
    </div>
  </div>
</div>
