<section id="pricing" class="pricing-content section-padding">
  <div class="container">
    <div class="section-title text-center mb-3 mt-3">
      <h2>Souscription</h2>
      <p class="mb-3">Choisissez un service à proposer...</p>
    </div>

    <div class="row flex-nowrap overflow-auto text-center custom-scroll mt-5">
      <% @pricings.each do |pricing| %>
        <div class="wow fadeInUp m-2 "
             data-wow-duration="1s"
             data-wow-delay="0.1s"
             data-wow-offset="0"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp; width: 400px">
          <div class="pricing_design" style="width: auto">
            <div class="single-pricing" style="height: 420px">
              <div class="price-head">
                <h3 class="text-warning">
                  <%= pricing.title %>
                </h3>
                <%if !(pricing.title == "Boop custom")%>
                <div class="price-display">
                  <span class="amount"><%= humanized_money(pricing.price) %></span>
                  <span class="period">/mois</span>
                </div>
                <%else%>
                <div>
                <span class="amount text-white">XXX

                </span>
                </div>

                <%end%>
              </div>

              <p>
                <%= pricing.description %>
              </p>

              <div class="m-4" style="margin-top: auto">
                <%= form_with url: orders_path do %>
                  <%= hidden_field_tag 'pricing_id', pricing.id %>
                  <%= submit_tag 'En savoir plus',
                      class: 'btn btn-outline-primary rounded-pill text-black w-100' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
