<section id="pricings" class="pricing-content section-padding">
  <div class="container">
    <div class="section-title text-center mb-3 mt-3">
      <h2>Souscription</h2>
      <p class="m-3">Trouvez le programme idéal et bénéficiez de <span class="text-warning" style="font-weight: bold; font-size: x-large"> 90 jours d'essai gratuit </span> pour en profiter pleinement ! 🚀</p>
    </div>
    <div class="row flex-nowrap overflow-auto text-center custom-scroll mt-5" style="overflow-x: auto;">
      <%#boop 1%>
      <div class="wow fadeInUp pricing_content"
             data-wow-duration="1s"
             data-wow-delay="0.1s"
             data-wow-offset="0"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="pricing_design">
          <div class="single-pricing" >
            <div class="price-head">
              <h3 class="text-warning">
                <%= @pricings.present? && @pricings[0].present? ? @pricings[0].title : 'Titre non disponible' %>
              </h3>
              <div class="price-display">
                <span class="amount"><%= humanized_money_with_symbol(@pricings[0].price) %></span>
                <span class="period">/mois</span>
              </div>
            </div>
            <div class="pricing_description">
              <p><%= @pricings[0].description %></p>
              <ul>
                <li>Fiche de service détaillée</li>
                <li>Gestion de rendez-vous</li>
                <li>Gestion de capacité d'accueil</li>
              </ul>
            </div>
            <% if user_signed_in? %>
              <button id="pay"
                  class="btn text-white rounded-4 p-2 w-100"
                  style="background-color: rgb(1, 116, 212)"
                  data-controller="create-order"
                  data-create-order-user-id-value="<%= current_user.id %>"
                  data-create-order-pricing-id-value="<%= @pricings[0].id %>"
                  data-create-order-stripe-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
>
              <h5>Payer</h5>
              </button>
            <% else %>
              <%= link_to "Démarrer l'essai", new_user_session_path, class: "btn text-white rounded-4 p-2 w-100", style:"background-color: rgb(1, 116, 212)" %>
            <% end %>
          </div>
        </div>
      </div>
      <%#boop 5%>
      <div class="wow fadeInUp pricing_content"
             data-wow-duration="1s"
             data-wow-delay="0.1s"
             data-wow-offset="0"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp; ">
        <div class="pricing_design">
          <div class="single-pricing" >
            <div class="price-head">
              <h3 class="text-warning">
                <%= @pricings.present? && @pricings[1].present? ? @pricings[1].title : 'Titre non disponible' %>
              </h3>
              <div class="price-display">
                <span class="amount"><%= humanized_money_with_symbol(@pricings[1].price) %></span>
                <span class="period">/mois</span>
              </div>
            </div>
            <div class="pricing_description">
              <p><%= @pricings[1].description %></p>
              <ul>
                <li>Toutes les fonctionnalités de Boop One</li>
                <li>5 comptes professionnels</li>
                <li>Dashboard dédié à la gestion globale</li>
              </ul>
            </div>
            <script async
              src="https://js.stripe.com/v3/buy-button.js"></script>
            <stripe-buy-button
              buy-button-id="buy_btn_1R66jsGaLMauVNXc1HhSGvHu"
              publishable-key="pk_test_51R52PTGaLMauVNXcAkkchp5BbDUB9nykOACXCy4HesXXhpTTQEn7e8oPCUNc0ULKTxYgswPuZ0QFJYOSEDotNm3W009IJrEgig">
            </stripe-buy-button>
          </div>
        </div>
      </div>
      <%# boop custom %>
      <div class="wow fadeInUp pricing_content"
             data-wow-duration="1s"
             data-wow-delay="0.1s"
             data-wow-offset="0"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp; ">
        <div class="pricing_design auto-width">
          <div class="single-pricing" >
            <div class="price-head">
              <h3 class="text-warning">
                <%= @pricings.present? && @pricings[2].present? ? @pricings[2].title : 'Titre non disponible' %>
              </h3>
            </div>
            <div class="pricing_description">
              <p><%= @pricings[2].description %></p>
              <ul>
                <li>Toutes les fonctionnalités de Boop 5</li>
                <li>Configuration avancée de votre compte</li>
                <li>Support dédié pour vous accompagner </li>
                <li>Évolutivité maximale avec la possibilité d'ajouter de nouvelles options</li>
              </ul>
            </div>
            <%= link_to "Contactez-nous", contact_path, class: "btn text-white rounded-4 p-2", style: "background-color: rgb(1, 116, 212); width: 80%"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
