<div class="devise-page" data-controller="toggle-password">
  <div class="form-devise devise-form">
    <i class="fa-solid fa-paw float-end text-primary"></i>
    <h2 style="font-weight: 400">Bienvenue chez Boop<br><span style="font-size: medium;">Prenez soin de votre animal, facilement.</span></h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        <div class="position-relative">
          <%= f.input :password,
                        label: "Mot de passe",
                        required: false,
                        input_html: { autocomplete: "current-password", id: "password-field" } %>
          <span id="toggle-password"
                class="fa fa-eye position-absolute"
                style="top: 75%; right: 15px; transform: translateY(-50%); cursor: pointer;">
          </span>
        </div>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Se connecter", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="devise-logo">
    <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//signIn-signUp.png", alt: "chat et chien heureux", class: "" %>
  </div>
</div>
