<div>
  <%= render "shared/back"%>
</div>
<%# bg-custom %>
<div class="m-5">
  <%# title : Motif du Rendez-vous %>
  <div class="text-center mb-5 d-flex flex-row justify-content-center">
    <h1>Motif du Rendez-vous</h1>
    <i class="fa-solid fa-paw float-end text-primary mx-2" style="font-size: 20px"></i>
  </div>
  <%# formular %>
  <div class="text-center rounded-3" data-controller="alert">
    <%= simple_form_for [@professional, Appointment.new], html:{
            data: {
            controller: "alert",
            alert_icon_value: "success",
            alert_title_value: "Félicitation!",
            alert_html_value: "Le rendez-vous a bien été confirmé!",
            confirm_button_text_value: "Voir les détails",
            confirm_button_color_value: "#EFA690",
            action: "submit->alert#initSweetalert",
            turbo: false,
          }
          } do |a| %>
      <div data-alert-target="form">
        <div class="row d-flex justify-content-between">
          <div class="custom_card col-lg-6 col-md-12 col-sm-10">
            <!-- Informations vétérinaire -->
            <div class="card d-flex flex-column mb-3" >
              <div class="card-header rounded-3">
                <i class="fa-regular fa-user"></i>
                <p> Le vétérinaire :</p>
              </div>
              <div class="card-body rounded-3">
                <h5 class="card-title"><%= @professional.name %></h5>
              </div>
            </div>
            <!-- Date du rendez-vous -->
            <div class="card d-flex flex-column mb-3">
              <div class="card-header rounded-3">
                <i class="fa-regular fa-calendar"></i>
                <p> Date du rendez-vous :</p>
              </div>
              <div class="card-body rounded-3">
                <h5>
                  <%= a.input :date, as: :string, input_html: { value: @date, readonly: true, style: 'border: none; text-align: center;' }, label: false, required: true %>
                </h5>
              </div>
            </div>

            <!-- Heure du rendez-vous -->
            <div class="card d-flex flex-column mb-3">
              <div class="card-header rounded-3">
                <i class="fa-regular fa-clock"></i>
                <p> Heure du rendez-vous :</p>
              </div>
              <div class="card-body rounded-3">
                <h5>
                  <%= a.input :start_time, as: :string, input_html: { value: @time.to_time.strftime("%H:%M"), readonly: true, style: 'border: none; text-align: center' }, label: false, required: true %>
                </h5>
              </div>
            </div>
          </div>
          <div class="custom_card col-lg-6 col-md-12 col-sm-12">
            <!-- Animal concerné -->
            <div class="card mb-3">
              <div class="card-header rounded-3">
                <i class="fa-solid fa-dog"></i>
                <p> Animal concerné :</p>
              </div>
              <div class="card-body rounded-3">
                <h5>
                  <%= a.input :pet_id,
                          label: false,
                          collection: @current_user_pets,
                          # value_method: :id,
                          # label_method: :name,
                          prompt: "Choisir un animal",
                          required: true
                  %>
                </h5>
                <p class="text-end" style="font-size: 12px; ">
                  Vous n'avez pas encore enregistrer vos compagnons ?
                  <a href="<%=new_user_pet_path(current_user)%>"
                      data-controller="alert"
                      data-action="click->alert#addPet"
                      data-alert-user-id="<%=current_user.id%>">
                    Enregistrer un animal
                  </a>
                </p>
              </div>
            </div>
            <!-- Motif de la visite -->
            <div class="card">
              <div class="card-header rounded-3">
                <i class="fa-regular fa-clock"></i>
                <p> Motif de la visite :</p>
              </div>
              <div class="card-body rounded-3">
                <h5>
                  <%= a.input :reason, label: false, as: :text, input_html: { rows: 3, required: true } %>
                </h5>
              </div>
            </div>
            <!-- Bouton de soumission -->
            <%= a.button :submit, "Confirmer le rendez-vous", class: "cta-button my-4", aria_label:"Confirmer"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
