<div class="d-flex flex-row " style="height: 100%;">
  <div class="d-flex flex-column shadow"  style="width: 300px; height: 100vh; background-color:rgba(236, 230, 230, 0.31); padding: 20px">
    <div class="text-center m-4">
      <h3> Mes Services </h3>
    </div>
    <% @professionals.each do |professional| %>
      <a href="<%= pro_show_user_path(@user, professional) %>" class="btn btn-outline-info m-1 text-black rounded rounded-4">
        <%= professional.specialty %>
      </a>
    <% end %>
  </div>
  <div class="text-center m-4" data-controller="appointment">
    <%@selected_date = params[:date]%>
    <div >
      <%= week_calendar(events: @appointments, professional: @professional) do |date, events| %>
        <p data-appointment-target="date">
          <%= date %>
        </p>
        <% events.each do |event| %>
          <p><%= event.user.first_name%> <%= event.user.last_name%></p>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= turbo_frame_tag :all_slot do %>
        <% render "all_slot", professional: @professional, selected_date: @selected_date %>
      <% end %>
    </div>
    <div>
      <p>Veuillez sélectionner un créneau de rendez-vous pour voir le détail</p>
    </div>
  </div>
</div>
