<div class="d-flex flex-row justify-content-between" style="height: 100%;">
  <div>
    <%= render "shared/all_service" %>
  </div>
  <div class="text-center m-4" data-controller="appointment" style="width: 100%;">
    <h4> <strong> Bienvenue sur votre tableau de bord </strong></h4>
    <%@selected_date = params[:date]%>
    <div class="m-4">
      <%= week_calendar(events: @appointments, professional: @professional) do |date, events| %>
        <p data-appointment-target="date">
          <%= date %>
        </p>
        <% events.each do |event| %>
          <p><%= event.user.first_name%> <%= event.user.last_name%></p>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= turbo_frame_tag :all_slot do %>
        <% render "shared/all_slot", professional: @professional, selected_date: @selected_date %>
      <% end %>
    </div>
    <div>
      <%= turbo_frame_tag :appointment_details do %>
        <%= render "appointment_details", appointment: @appointment%>
      <% end %>
    </div>
  </div>
</div>
