<!DOCTYPE html>
<html>
  <head>
    <title>Boop - Plateforme santé & rendez-vous animaliers </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Boop est une plateforme dédiée à l'adoption responsable d'animaux de compagnie, mettant en relation les refuges et les adoptants potentiels. Boop facilite également la mise en relation entre les propriétaires d'animaux et les professionels animaliers pour des services tels que les soins, la garde, le pet-sitting, et les promenades. Notre mission est de promouvoir l'adoption responsable et de garantir le bien-être des animaux.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//boop_logo.png' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Boop",
        "url": "https://myboop.fr",
        "logo": "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//Boop%20-%20LOGO%20FINAL%20BLANC.png",
        "description": "Boop est une plateforme qui centralise la santé et le bien-être animal : carnet de santé numérique, prise de rendez-vous avec des professionnels animaliers.",
        "sameAs": [
          "https://www.instagram.com/boop_officiel/",
          "https://www.tiktok.com/@boop_officiel?_t=8s9jTobM5eo&_r=1"
        ],
        "founders": [
          {
            "@type": "Person",
            "name": "Chanlika Servais",
            "jobTitle": "Co-fondatrice"
          },
          {
            "@type": "Person",
            "name": "Marc Servais",
            "jobTitle": "Co-fondateur"
          }
        ]
      }
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" fetchpriotiry="low"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js" fetchpriotiry="low"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" fetchpriotiry="low"></script>
    <%= javascript_include_tag "https://js.stripe.com/v3/"%>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <div class="page-wrapper">
        <%= render "shared/flashes" %>
        <div class="content-wrap">
          <%= yield %>
        </div>
      </div>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const navbar = document.querySelector('.navbar-lewagon');

        // Check initial scroll position
        if (window.scrollY > 50) {
          navbar.classList.add('scrolled');
        }

        // Add scroll event listener with throttling
        let ticking = false;
        document.addEventListener('scroll', function() {
          if (!ticking) {
            window.requestAnimationFrame(function() {
              if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
              } else {
                navbar.classList.remove('scrolled');
              }
              ticking = false;
            });
            ticking = true;
          }
        });
      });
    </script>
  </body>
</html>
